@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@media only screen and (max-width: 480px) {
  /* horizontal scrollbar for tables if mobile screen */
  table {
      overflow-x: auto;
      display: block;
  }
}

*{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2{
  margin-top: 3vh;
}

body {
  overflow:hidden; /* Prevent horizontal scrolling of the page */
  margin: 0;
  padding: 0;
}
.carousel-container {
  width: 100vw;
  height: 100vh;
}
.elemento_carosello {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.carousel {
  width: 100%;
  height: 100%;
}

.slick-dots {
	position: absolute; 
	bottom: 0;
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 1%;
	list-style: none;
	text-align: center;
}

.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-buttons {
  position: fixed;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* Allow buttons to be visible but not interfere with scrolling */
}
.nav-buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  pointer-events: all; /* Enable clicking on buttons */
}
table {
  width: 90%;
  max-width: fit-content; /* Ensure tables do not grow beyond a certain width */
  margin: 0 auto;
  border-collapse: collapse;
  table-layout:fixed;
}

th, td {
  padding: 10px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word;
}

.primo_rank {
    background-color: hsl(0, 0%, 0%);
    border: 0.25vmin solid rgb(255, 255, 255);
  }

  .secondo_rank {
    background-color: hsl(120, 100%, 50%);
    border: 0.25vmin solid black;
  }
  .terzo_rank {
    background-color: #804A00;
    border: 0.25vmin solid rgb(255, 255, 255);
  }

  .quarto_rank {
    background-color: orange;
    border: 0.25vmin solid black;
  }

  .quinto_rank{
    background-color: #ffe100;
    border: 0.25vmin solid rgb(255, 255, 255);
  }
  .sesto_rank {
    background-color: #259dd4;
    border: 0.25vmin solid black;
}
  .settimo_rank{
    background-color: #7f13ea;
    border: 0.25vmin solid black;
  }

  .rank_legend{
    border: 0.25vmin solid black !important;
  }