body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  h1 {
    font-size: 24px;
    font-weight: 500;
    font-family: "IBM Plex Mono", monospace;
    color: white;
    display: inline;
  }

  #game-board {
    background-color: #ccc;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
  }
 
  .primo_rank {
    background-color: hsl(0, 0%, 0%);
    border: 0.25vmin solid rgb(255, 255, 255);
  }

  .secondo_rank {
    background-color: hsl(120, 100%, 50%);
    border: 0.25vmin solid black;
  }
  .terzo_rank {
    background-color: #804A00;
    border: 0.25vmin solid rgb(255, 255, 255);
  }

  .quarto_rank {
    background-color: orange;
    border: 0.25vmin solid black;
  }

  .quinto_rank{
    background-color: #ffe100;
    border: 0.25vmin solid rgb(255, 255, 255);
  }

  .food {
    background-color: hsl(0, 100%, 50%);
    border: 0.25vmin solid black;
  }

  .schermatafinale {
    position: absolute;
    z-index: 10;
    display: none;
    height: 50%;
    width: auto;
  }

  .score {
    position: absolute;
    z-index: 10;
    top: 2%;
    left: 2%;
  }
